@charset "utf-8";
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor1: #000000;
    --cor2: #7C7C7C;
    --cor3: #090311;
    --cor4: #F4F4F9;
    --cor5: #FFFFFF;
    --cor6: #F40000;
}
body{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor50));
    background-attachment: fixed;
}
header{
    border-style: solid;
    
    
}
nav > a{
    text-decoration: none;
    
}
a:hover{
    background-color: var(--cor3);
    
}